<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="edu.swjtuhc.demo.mapper.LoginMapper">
        <resultMap type="edu.swjtuhc.demo.model.Login" id="login_result">		
		<result column="Username" property="username" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="Password" property="password" javaType="java.lang.Integer" jdbcType="INTEGER" />
	</resultMap>
     <select id="selectByusername" parameterType="java.lang.String" resultType="edu.swjtuhc.demo.model.Login">
		select * from sysuser
		where
		Username = #{username}
	</select>
	<select id="selectBypassword" parameterType="java.lang.String" resultType="edu.swjtuhc.demo.model.Login">
		select * from sysuser
		where
		Password = #{password}
	</select>
	
		</mapper>