<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
      <mapper namespace="edu.swjtuhc.demo.mapper.UserMapper">
	<insert id="insertUser" parameterType="edu.swjtuhc.demo.model.Sysuser">
		insert into sysuser
		(username,password,name,age,gender)
		values
		(#{username},#{password},#{name},#{age},#{gender})
	</insert>
	
	<select id="selectByusername" parameterType="java.lang.String" resultType="edu.swjtuhc.demo.model.Sysuser">
		select * from sysuser
		where
		username = #{username}
	
	</select>


</mapper>